language: ruby
rvm:
- 2.3.1

before_install:
- openssl aes-256-cbc -K $encrypted_2f0c7604e308_key -iv $encrypted_2f0c7604e308_iv
  -in client-secret.json.enc -out client-secret.json -d

install:
  - bundle install

before_script:
  - export GDRIVE=236707105121-bh3kc6dr70hj7tlskqolj03a7ljcr6eb.apps.googleusercontent.com:5rc9d4RwOFMfOhZAOI7oOP2l:1/wEkboEVDkTGhkTM9VYsEytomLsZ2grBYxU6rNE4j1YE

script:
  - bundle exec jekyll build

deploy:
  provider: gae
  keyfile: client-secret.json
  project: brm-website
  default: gcloud app deploy

sudo: false