language: ruby
rvm:
- 2.2.0

before_install:
- openssl aes-256-cbc -K $encrypted_2f0c7604e308_key -iv $encrypted_2f0c7604e308_iv
  -in client-secret.json.enc -out client-secret.json -d

install:
  - bundle exec jekyll build

script:
  - jekyll build

deploy:
  provider: gae
  keyfile: client-secret.json
  project: brm-website

sudo: false