language: go

before_install:
- openssl aes-256-cbc -K $encrypted_2f0c7604e308_key -iv $encrypted_2f0c7604e308_iv
  -in client-secret.json.enc -out client-secret.json -d

install: gem install jekyll jekyll-paginate jekyll-app-engine jekyll-sitemap

script: bundle exec jekyll serve --baseurl "" --detach && htmlproofer ./_site --disable-external --empty-alt-ignore

deploy:
  provider: gae
  keyfile: client-secret.json
  project: brm-website

after_deploy: bundle exec jekyll build