$ export GDRIVE=236707105121-bh3kc6dr70hj7tlskqolj03a7ljcr6eb.apps.googleusercontent.com:5rc9d4RwOFMfOhZAOI7oOP2l:1/wEkboEVDkTGhkTM9VYsEytomLsZ2grBYxU6rNE4j1YE

name: Ben Murray
description: Stories and observations.
meta_description: "Stories and observations about technology, politics and civic engagement."

production_url : http://www.benmurray.us
BASE_PATH : http://bnmry.github.io/	

aboutPage: true

markdown: kramdown
highlighter: rouge

gems: 
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-app-engine

paginate: 20
baseurl: /
domain_name: 'http://www.benmurray.us'
google_analytics: 'UA-504797-6'
disqus: true
disqus_shortname: 'benmurray'



exclude: [
  ".gitignore",
  ".travis.yml",
  "app.yaml",
  "Gemfile",
  "README.md",
  "gtest.go",
  "client-secret.json",
  "client-secret.json.enc",
  "CNAME",
  "LICENSE"]

# Google Drive 'gdrive' gem specifications

gdrive:
  sheet: "BRM Website Data"
  
# AppEngine deploy specifications
app_engine:
  runtime: go
  api_version: go1
  default_expiration: 300s
  handlers:
    posts:
      http_headers:
        Link: "</assets/css/style.css>; rel=preload; as=style,"
    pages:
      http_headers:
        Link: "</assets/css/style.css>; rel=preload; as=style,"
    static:
      url: /assets/
      static_dir: _site/assets

# So that Travis doesn't mistakenly read the bundled gems and explode
exclude: [vendor]

# Details for the RSS feed generator
url:            'http://www.benmurray.us'
author:         'Ben Murray'
authorTwitter:  'bmurray'

permalink:       /:year/:title/

defaults:
    -
        scope:
            path: "" # empty string for all files
            type: pages
        values:
            layout: default
    -
        scope:
            path: "" # empty string for all files
            type: posts
        values:
            layout: post
    -
        scope:
            path: ""
            type: drafts
        values:
            layout: post
            
