<nav class="main-nav">
    {% if page.url != "/index.html" %}
        <a href="{{ site.baseurl }}"> <span class="arrow">&#8592;</span> Home </a>
    {% endif %}

    {% if page.url != "/about/" %}
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">About </a>
        {% endif %}
    {% endif %}
	<a href="http://hi.benmurray.us">Moments</a>
	<a href="http://photos.benmurray.us">Photos</a>
	<a href="http://www.facebook.com/benmurray"><i class="fa fa-facebook"></i></a>
	<a href="http://www.instagram.com/bnmry"><i class="fa fa-instagram"></i></a>
	<a href="http://www.twitter.com/bmurray"><i class="fa fa-twitter"></i></a>
    <!-- <a class="cta" href="{{ site.baseurl }}feed.xml">Subscribe</a> -->
	
</nav>